*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
} 

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.search-form__fieldset {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  font: inherit;
  font-weight: 400;
  line-height: normal;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  width: 19px;
  height: 19px;
  border: 1px solid #FFF;
}

.search-form__pseudo-checkbox::before {
  content: '';
  display: none;
  width: 15px;
  height: 15px; 
  margin: 1px;
  background-color: #fff;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox::before { 
  display: block;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before { 
  display: block;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 34px;
  border: 1px solid #FFF;
  color: #FFF;
  font: inherit;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline; 
  text-decoration-thickness: 1px; 
  text-underline-offset: 2px;
}

.button:active {
  text-decoration: none;
  background-color: #545050;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
}

.more-button {
  width: 399px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 4px;
}

.search-form__label:hover {
  text-decoration: underline; 
  text-decoration-thickness: 1px; 
  text-underline-offset: 4px;
}

.search-form__label:has(:active) {
  outline: none;
}

.search-form__label-text {
  color: #FFF;
  font: inherit;
}

.search-form__textfield {
  display: flex;
  width: 225px;
  height: 27px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: rgba(255, 255, 255, 0.70);
  font: inherit;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__textfield:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 2px;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__textfield:active {
  border: none;
  outline: 1px solid #FFF;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
  width: 100%;
  height: 100%;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 298px;
  padding: 2px;
  overflow-x: hidden;
  overflow-y: auto;
}

.content__list-item {
  width: 399px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 23px;
}

.content__card-link {
  display: block;
  margin: 2px;
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 2px;
}

.content__card-link:hover {
  color: #fff;
  text-decoration: underline; 
  cursor: pointer;
}

.content__card-link:active {
  text-decoration: none;
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start; 
  padding: 2px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 197px;
}

.content__video-card-title {
  overflow: hidden;
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  overflow: hidden;
  color: #FFF;
  font: inherit;
  line-height: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

